body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: #f2f2f2;
}

h1 {
  text-align: center;
}

.cars {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

#detail {
  display: none;
  text-align: center;
}

#detail img {
  width: 300px;
  border-radius: 10px;
}

button {
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  background: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
